<!-- <div style="margin: 41px 0px 24px 0px" class="scrollmenu" id="excel-table">
  <table class="table table-striped"  >
      <thead>
        <tr>
          <th scope="col">&nbsp;&nbsp;&nbsp;</th>
          <th scope="col">ID</th>
          <th scope="col">Média  contact</th>
          <th scope="col">Technologie</th>
          <th scope="col">ID CLIENT</th>
          <th scope="col">Raison  du contact </th>
          <th scope="col">Détail   hors cible </th>
          <th scope="col">Motif de résiliation </th>
          <th scope="col">statut   Retenu </th>
          <th scope="col">Moyen de rétention  ou refus</th>
          <th scope="col">Choix  opérateur</th>
          <th scope="col">Date et heure  de l'histo RET </th>
          <th scope="col">LOG AGENT RET</th>
          <th scope="col">Commentaire RET 1</th>
          <th scope="col"> Statut de  la demande</th>
          <th scope="col">Traitement tech</th>
          <th scope="col">Date et heure  de l'histo Tech</th>
          <th scope="col">Log agent  tech</th>
          <th scope="col">Commentaire   TECH</th>
          <th scope="col">Statut demande suite  traitenet tech</th>
          <th scope="col">Type de  contact RET</th>
          <th scope="col">Traitement   SUIVI RET</th>
          <th scope="col">Date et heure  de l'histo  suivi RET</th>
          <th scope="col">Log agent Suivi RET</th>
          <th scope="col">Statut finaldemande</th>
          <th scope="col">Commentaire</th>
          <th scope="col">Horoindexge</th>
          <th scope="col">NDI</th>
          <th scope="col">Code Postal</th>
        </tr>
      </thead>
      <tbody>


              <input type="radio" name="choice"/>
              <th>&nbsp; {{ index.id }} &nbsp;&nbsp;</th>
              <th>&nbsp; {{ index.media_Contact.name }}</th>
              <th>&nbsp; {{ index.technologie.name }}</th>
              <th>&nbsp; {{ index.idClient.name }}</th>
              <th>&nbsp; {{ index.raison_du_contact.name }}</th>
              <th>&nbsp; {{ index.detail_Hors_Cible.name}}</th>
              <th>&nbsp; {{ index.motif_de_resiliation.name }}</th>

              <th>&nbsp; {{ index.retenu.name }}</th>
              <th>&nbsp; {{ index.MotifdeRefus.name}}{{index.moyenDeRetention}}</th>
              <th>&nbsp; {{ 'XXXXXXXX' }}</th>
              <th>&nbsp; {{ 'XXXXXXXX' }}</th>
              <th>&nbsp; {{ 'XXXXXXXX' }}</th>

              <th>&nbsp; {{index.Commentaire}}</th>

              <th>&nbsp; {{ 'XXXXXXXX' }}</th>
              <th>&nbsp; {{ 'XXXXXXXX' }}</th>
              <th>&nbsp;{{ 'XXXXXXXX' }}</th>
              <th>&nbsp; {{ 'XXXXXXXX' }}</th>
              <th>&nbsp; {{ 'XXXXXXXX' }}</th>
              <th>&nbsp; {{ 'XXXXXXXX' }}</th>
              <th>&nbsp; {{ 'XXXXXXXX' }}</th>
              <th>&nbsp; {{ 'XXXXXXXX' }}</th>
              <th>&nbsp; {{ 'XXXXXXXX' }}</th>
              <th>&nbsp; {{ 'XXXXXXXX' }}</th>
              <th>&nbsp; {{ 'XXXXXXXX' }}</th>
              <th>&nbsp; {{  'XXXXXXXX'  }}</th>
              <th>&nbsp; {{  'XXXXXXXX'  }}</th>
              <th>&nbsp; {{ index.ndi }}</th>
              <th>&nbsp; {{ index.codePostal }}</th>

      </tbody>
  </table>

</div> -->




<div class="main" >
<div class="scrollmenu"  >
<ol class="list-group list-group-light" id="excel-table">
  <table >
  <tbody>

  <!-- ID -->
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">ID</th></div>
    </div>
    <span class="fw-bold"> {{ index.id }} </span>
  </li>


<!-- Média contact -->
  <li class="list-group-item d-flex justify-content-between align-items-start grey">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Média contact</th></div>
    </div>
    <span class="fw-bold">{{ index.media_Contact.name }}</span>
  </li>


<!-- Technologie -->
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Technologie</th></div>
    </div>
    <span class="fw-bold">{{ index.technologie.name }}</span>
  </li>

<!-- ID CLIENT -->
  <li class="list-group-item d-flex justify-content-between align-items-start grey">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">ID CLIENT</th></div>
    </div>
    <span class="fw-bold">{{ index.idClient }}</span>
  </li>

<!-- Raison  du contact -->
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Raison  du contact</th></div>
    </div>
    <span class="fw-bold">{{ index.raison_du_contact.name }}</span>
  </li>

<!-- Détail hors cible -->
  <li class="list-group-item d-flex justify-content-between align-items-start grey">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Détail hors cible</th></div>
    </div>
    <span class="fw-bold">{{ index.detail_Hors_Cible.name }}</span>
  </li>

<!-- Motif de résiliation -->
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Motif de résiliation</th></div>
    </div>
    <span class="fw-bold">{{ index.motif_de_resiliation.name }}</span>
  </li>

<!-- Statut Retenu -->
  <li class="list-group-item d-flex justify-content-between align-items-start grey">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Statut Retenu</th></div>
    </div>
    <span class="fw-bold">{{ index.retenu.name }}</span>
  </li>

<!-- Moyen de rétention  ou refus -->
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Moyen de rétention  ou refus</th></div>
    </div>
    <span class="fw-bold">{{ index.MotifdeRefus.name}}{{index.moyenDeRetention}}</span>
  </li>

<!-- Choix  opérateur -->
  <li class="list-group-item d-flex justify-content-between align-items-start grey">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Choix  opérateur</th></div>
    </div>
    <span class="fw-bold">{{ idk }}</span>
  </li>

<!-- Date et heure  de l'histo RET -->
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Date et heure  de l'histo RET</th></div>
    </div>
    <span class="fw-bold">{{ idk }}</span>
  </li>

<!-- LOG AGENT RET -->
  <li class="list-group-item d-flex justify-content-between align-items-start grey">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">LOG AGENT RET</th></div>
    </div>
    <span class="fw-bold">{{ idk }}</span>
  </li>

<!-- Commentaire RET 1 -->
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Commentaire RET 1</th></div>
    </div>
    <span class="fw-bold">{{index.Commentaire}}</span>
  </li>

<!-- Statut de  la demande -->
  <li class="list-group-item d-flex justify-content-between align-items-start grey">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Statut de la demande</th></div>
    </div>
    <span class="fw-bold">{{ idk }}</span>
  </li>

<!-- Traitement tech -->
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Traitement tech</th></div>
    </div>
    <span class="fw-bold">{{ idk }}</span>
  </li>

<!-- Date et heure  de l'histo Tech -->
  <li class="list-group-item d-flex justify-content-between align-items-start grey">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Date et heure  de l'histo Tech</th></div>
    </div>
    <span class="fw-bold">{{ idk }}</span>
  </li>

  <!-- Log agent tech -->
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col"> Log agent tech </th></div>
    </div>
    <span class="fw-bold">{{ idk }}</span>
  </li>

<!-- Commentaire TECH -->
  <li class="list-group-item d-flex justify-content-between align-items-start grey">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Commentaire TECH</th></div>
    </div>
    <span class="fw-bold">{{ idk }}</span>
  </li>

  <!-- Statut demande suite  traitenet tech -->
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col"> Statut demande suite traitenet tech</th></div>
    </div>
    <span class="fw-bold">{{ idk }}</span>
  </li>

  <!-- Type de contact RET -->
  <li class="list-group-item d-flex justify-content-between align-items-start grey">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Type de contact RET</th></div>
    </div>
    <span class="fw-bold">{{ idk }}</span>
  </li>

<!-- Traitement SUIVI RET -->
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col"> Traitement SUIVI RET</th></div>
    </div>
    <span class="fw-bold">{{ idk }}</span>
  </li>

<!-- Date et heure  de l'histo  suivi RET -->
  <li class="list-group-item d-flex justify-content-between align-items-start grey">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Date et heure de l'histo suivi RET</th></div>
    </div>
    <span class="fw-bold">{{ idk }}</span>
  </li>

<!-- Log agent Suivi RET -->
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col"> Log agent Suivi RET</th></div>
    </div>
    <span class="fw-bold">{{ idk }}</span>
  </li>

<!-- Statut finaldemande -->
  <li class="list-group-item d-flex justify-content-between align-items-start grey">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Statut finaldemande</th></div>
    </div>
    <span class="fw-bold">{{ idk }}</span>
  </li>

<!-- Commentaire -->
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col"> Commentaire</th></div>
    </div>
    <span class="fw-bold">{{ idk }}</span>
  </li>

  <!-- Horoindexge -->
  <li class="list-group-item d-flex justify-content-between align-items-start grey">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Horoindexge</th></div>
    </div>
    <span class="fw-bold">{{ idk }}</span>
  </li>

<!-- NDI -->
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col"> NDI</th></div>
    </div>
    <span class="fw-bold">{{ index.ndi }}</span>
  </li>

<!-- Code Postal -->
  <li class="list-group-item d-flex justify-content-between align-items-start grey">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><th scope="col">Code Postal</th></div>
    </div>
    <span class="fw-bold">{{ index.codePostal }}</span>
  </li>
</tbody>
</table>
 </ol>

</div>
<div class="buttons">
<button [routerLink]="'listes'" class="btn mainButton"><mat-icon class="cloud-class">keyboard_return</mat-icon>Listes Des Demandes</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-success"><mat-icon class="cloud-class" (click)="exportexcel()">cloud_download</mat-icon>&nbsp;Export Excel</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-danger"><mat-icon class="icon-class">delete</mat-icon>&nbsp;&nbsp;&nbsp; SUPPRIMER</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>
</div>



