/* table : liste des commandes */
div.scrollmenu {
  background-color: rgba(240, 240, 240, 0.995);
  overflow: auto;
  white-space: nowrap;
}
.main
{
  /* background-color: rgb(246, 246, 246); */
  background-color: #fefefe;
  margin: 10% 28%;
}
.grey
{
  background-color: rgb(241, 241, 241);
}
.badge-primary{
  color:black
}
div.scrollmenu {
  /* background-color: #fed9ff; */
  background-color: #f6dff7;
  width: auto;
  height: 900px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 20px;

}

.buttons{
  margin-left: 17.5%;
  margin-top: 20px;
}
.icon-class {
  position: absolute;
  margin-left: -10px;
}
.cloud-class  {
  position: absolute;
  margin-left: -24px;
}
.btn-success{
  padding-left: 30px;
}
.mainButton{

  color: rgb(255, 255, 255);
  padding-left: 30px;
   background-color: rgb(225, 61, 178);
}
.mainButton:focus,
.mainButton:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(228, 12, 148);
}

div.scrollmenuchilddiv {
  /* display: inline-block;
  color: rgb(13, 6, 6);
  text-align: center;

  text-decoration: none;


  /*Float: left*/
  /* white-space: nowrap;  */
}
