<!-- <div *ngFor="let dt of array">

 {{dt.id}}
</div> -->

<div style="margin: 41px 0px 24px 0px" class="scrollmenu" id="excel-table">
  <table class="table table-striped"  >
      <thead>
        <tr>
          <th scope="col">&nbsp;&nbsp;&nbsp;</th>
          <th scope="col">ID</th>
          <th scope="col">Média  contact</th>
          <th scope="col">Technologie</th>
          <th scope="col">ID CLIENT</th>
          <th scope="col">Raison  du contact </th>
          <th scope="col">Détail   hors cible </th>
          <th scope="col">Motif de résiliation </th>
          <th scope="col">statut   Retenu </th>
          <th scope="col">Moyen de rétention  ou refus</th>
          <th scope="col">Choix  opérateur</th>
          <th scope="col">Date et heure  de l'histo RET </th>
          <th scope="col">LOG AGENT RET</th>
          <th scope="col">Commentaire RET 1</th>
          <th scope="col"> Statut de  la demande</th>
          <th scope="col">Traitement tech</th>
          <th scope="col">Date et heure  de l'histo Tech</th>
          <th scope="col">Log agent  tech</th>
          <th scope="col">Commentaire   TECH</th>
          <th scope="col">Statut demande suite  traitenet tech</th>
          <th scope="col">Type de  contact RET</th>
          <th scope="col">Traitement   SUIVI RET</th>
          <th scope="col">Date et heure  de l'histo  suivi RET</th>
          <th scope="col">Log agent Suivi RET</th>
          <th scope="col">Statut finaldemande</th>
          <th scope="col">Commentaire</th>
          <th scope="col">Horoindexge</th>
          <th scope="col">NDI</th>
          <th scope="col">Code Postal</th>
        </tr>
      </thead>

      <tbody>

        <input type="radio" name="demade" >
        <th>&nbsp; {{index.id}} &nbsp;&nbsp;</th>
        <th>&nbsp; {{index.Media_contact}}</th>
        <th>&nbsp; {{index.Technologie}}</th>
        <th>&nbsp; {{index.ID_CLIENT}}</th>
        <th>&nbsp; {{index.Raison_du_contact}}</th>
        <th>&nbsp; {{index.Detail_hors_cible}}</th>
        <th>&nbsp; {{index.Motif_de_resiliation}}</th>
        <th>&nbsp; {{index.statut_Retenu}}</th>
        <th>&nbsp; {{index.Moyen_de_retention_ou_refus}}</th>
        <th>&nbsp; {{index.Choix_operateur}}</th>
        <th>&nbsp; {{index.Date_et_heure_de_lhisto_RET}}</th>
        <th>&nbsp; {{index.LOG_AGENT_RET}}</th>
        <th>&nbsp; {{index.Commentaire_RET}}</th>
        <th>&nbsp; {{index.Statut_de_la_demande}}</th>
        <th>&nbsp; {{index.Traitement_tech}}</th>
        <th>&nbsp;{{index.Date_et_heure_de_lhisto_Tech}} </th>
        <th>&nbsp; {{index.Log_agent_tech}}</th>
        <th>&nbsp; {{index.Commentaire_TECH}}</th>
        <th>&nbsp; {{index.Statut_demande_suite_traitenet_tech}}</th>
        <th>&nbsp; {{index.Type_de_contact_RET}}</th>
        <th>&nbsp; {{index.Traitement_SUIVI_RET}}</th>
        <th>&nbsp; {{index.Date_et_heure_de_lhisto_suivi_RET}}</th>
        <th>&nbsp; {{index.Log_agent_Suivi_RET}}</th>
        <th>&nbsp; {{index.Statut_final_demande}}</th>
        <th>&nbsp; {{index.Commentaire}}</th>
        <th>&nbsp; {{index.Horoindexge}}</th>
        <th>&nbsp; {{index.NDI}}</th>
        <th>&nbsp; {{index.Code_Postal}}</th>
      </tbody>

